header {
  background-color: #f55a5a;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 55px;
}
header img {
  width: 28px;
  margin-right: 7px;
}
header h1 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 7px;
}
.journal {
  display: flex;
}
.main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}
.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.marker {
  width: 20px;
}
article {
  padding: 80px;
}
.country {
  margin-left: 5px;
  margin-right: 10px;
}
.title {
  margin: 10px 0px;
}
.date {
  font-weight: 600;
}
